table {
    border-collapse: collapse;
}

.tbl {
    border: 1px solid grey;
}
table td{
    padding: 10px;
    border:1px solid grey;

}

.index__table-td{
    text-align: center;
    font-size: 30px;;
}
input[type="submit"], .action, .home, .header__ul a{
    display: inline-block;
    border: 1px solid #aaa;
    background-color: #f3f3f3;

    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 15px;
    margin: 50px 0;
    margin-right:20px;

}
/*p{*/
    /*display: inline-block;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
.title-p{
    width: 100%;
    font-size: 30px;
}
.create-block{
    display: block;
}
.departments__create-p{
    display: block; !important;
}
input[type="text"]{
    height: 30px;
    width: 300px;
    border: 1px solid #cacaca;
    padding: 0 20px;
    background-color: #eefaff;

}

*{
    border-radius: 3px;

}


input[type="submit"]{
    cursor: pointer;
}

label {
    width: 300px;
    display: block;
    margin-bottom:5px;
}
a{
    text-decoration: none;
}
.header__ul {
    padding: 0;
}
.header__ul li{
    display: inline-block;
    list-style-type: none;
}
.header__ul a{

}
.container{
    width: 1200px;
    margin:0 auto;

}